:root{
    --primary-color: hsl(210, 100%, 50%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(210, 50%, 95%);
    --bg-card-color: hsl(0, 0%, 98%);
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark{
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
}

.switches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme_icon{
    margin-top: 0.5em;
    width: 20px;
}

.toggle-theme_text{
    font-size: 0.8rem;
}
